.itemCart{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.Buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
