.Form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

Button{
    margin: 1rem;
}

Label{
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}