li{
    list-style: none;
}

.navbar{
    display: flex;
    flex-direction: column;
    background-color:yellowgreen ;
    padding: 5px;
}


.logo{
    width: 5%;
}

.carrito{
    justify-content: flex-end;
    margin-right: 25px;
    display: flex;
}

.link{
    text-decoration: none;
    color: black;
    margin: 15px;
}

.categories{
    text-decoration: none;
    color: black;
}