.card{
    display: flex;
    flex-direction: column;
}

.counter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.counterButton{
    width: 5%;
    height: 30px;
    margin: 10px;
}